/*Story Primer.CSS
These tell Bloom what choices to give the use as far as Page, Orientation, & Layout options:
STARTLAYOUTS
{"layouts":     ["A5Portrait", "A4Portrait"]  }
ENDLAYOUTS
*/
.activity
{
	padding: 0 6pt !important;
}
/*Override "width: 100%;" in basePage.css*/
TEXTAREA, DIV.bloom-editable, TD
{
	font-family: Andika, sans-serif !important;
	overflow: visible;
	margin-left: 2pt;
	margin-right: 2pt;
	width: auto !important;
	min-height: 1.2em;
}
/*Reapply "width: 100%" to XMatter*/
.bloom-frontMatter .bloom-editable
{
	width: 100% !important;
}
.bloom-backMatter .bloom-editable
{
	width: 100% !important;
}
/*generic border layout stuff*/
.bottom
{
	border-bottom: 1pt solid #000000;
}
.left
{
	border-left: 1pt solid #000000;
}
.right
{
	border-right: 1pt solid #000000;
}
.top
{
	border-top: 1pt solid #000000;
}
.blank
{
	min-width: 6px;
	width: auto;
}
/*Regular content*/
.bloom-translationGroup.title .bloom-content1
{
	font-size: 140%;
	margin-left: 0pt;
}
.primerTableWithBorder.wordWorkWords .bloom-editable
{
	font-size: 80%;
}
.boxBlankMatchingIconBook
{
	width: 10%;
}
.boxIcon
{
	width: 15% !important;
}
.boxLessonTitle
{
	width: 75% !important;
}
.boxSampleLetterRight
{
	width: 20%;
	padding-top: 1pc;
	text-align: center;
}
.divider
{
	border-bottom: 1pt solid #000000 !important;
	margin: 0 -1pc;
}
.floatRight
{
	width: 50%;
	height: auto;
	float: right;
}
.icon
{
	border: none;
	float: left;
	clear: left;
	margin: 2px 3px 1px 2px;
	padding: 0;
}
.icon IMG
{
	width: 100%;
	height: auto;
}
.imageAdjustable
{
	vertical-align: top;
	width: 50%;
}
.instructions
{
	line-height: 1.2em !important;
	margin: 2pt 2pt 0 !important;
	font-size: small !important;
	font-style: italic !important;
	font-weight: normal !important;
}
.keyWordTable
{
	font-size: 60%;
	min-width: 3em;
}
.lessonNumber
{
	font-size: 80% !important;
	min-width: 80px;
}
.lessonTitle
{
	margin-top: 0;
	text-align: center;
	font-weight: bold;
}
.mainTitle
{
	font-weight: bold;
	text-align: center;
	font-size: 150%;
}
.margin-box TABLE
{
	max-width: 100% !important;
}
.pageNumber
{
	width: 10%;
	vertical-align: top;
	text-align: right;
}
.primerTableFixed
{
	table-layout: fixed;
	width: 100%;
}
.primerTableMatrix TD
{
	border: 1pt solid #000000;
	text-align: center;
	padding: 6pt 3pt;
}
.primerTableMatrix
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 0;
}
.primerTableMatrixMedium IMG
{
	float: left;
}
.primerTableMatrixMedium TD
{
	border: 1pt solid #000000;
	text-align: center;
}
.primerTableMatrixMedium
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 1pt;
}
.primerTableNoBorder
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: smaller;
}
.primerTableWithBorder
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1pt solid #000000;
}
.primerTableTitleLine
{
	width: 100%;
}
.primerTableKeyWordWork
{
	width: 40% !important;
}
.primerTableWordFind TD .bloom-editable
{
	border: 1pt solid #000000;
	text-align: center;
	/*[disabled]font-size:110%;*/
	padding: 4px 4px 4px 0;
	margin-left: 0;
	margin-right: 0;
}
.primerTableWordFind
{
	border: 1pt solid #000000;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 12pt;
}
.wordFindWords TD .bloom-editable
{
	font-size: 100%;
}
.wordBox TD
{
	min-width: 5em;
}
.rightImage
{
	max-width: 100pt;
	height: auto;
	padding-left: 6pt;
}
.sampleLetter
{
	max-width: 20%;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.sampleLetterLeft
{
	z-index: 5;
	font-weight: bold;
	padding: 6pt 11pt;
	border: 1pt solid #000000;
}
.sampleLetterRight
{
	z-index: 5;
	font-weight: bold;
	border: 1pt solid #000000;
	margin: auto;
	padding-left: 6pt;
	padding-right: 6pt;
}
.sampleSentence
{
	clear: both;
	margin-left: 2pt;
	text-indent: 0;
	/*[disabled]margin-top:1.1pt;*/
	text-align: left;
	min-width: 10em;
}
.sectionHead
{
	font-weight: bold;
	text-align: left;
}
.sentence
{
	margin-left: 2pt;
	margin-top: 12pt;
	text-align: left;
	text-indent: 24pt;
}
.smallImage
{
	width: 20%;
	border: 2pt solid #FF0000;
}
.soundInFocus
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 18px;
	margin-bottom: 18px;
	min-width: 2em;
	font-weight: bold;
}
.space
{
	height: 1cm;
}
.story
{
	text-indent: 0;
}
.title
{
	font-weight: bold;
	text-align: center;
	margin-right: 0;
	font-size: 125%;
}
.underlined
{
	margin-left: 2pt;
	text-decoration: underline;
	text-align: left;
	margin-bottom: 0;
}
.wordGrid
{
	width: 100%;
}
.wordWorkTable
{
	width: 100%;
}
TABLE + TABLE TD
{
	padding: 2pt;
}
TABLE + TABLE
{
	margin-top: 6pt;
}
TABLE + TABLE.alphabet TD
{
	padding: 0;
	border: 3pt solid #FFA500;
}
TABLE + TABLE.alphabet
{
	margin-top: 0;
	border: 2pt solid #FF0000;
}
TABLE.primerTableTitleLine + TABLE TD
{
	padding: 0;
}
/*prevent extra padding*/
TD.alphabet
{
	margin-left: auto;
	margin-right: auto;
	border: 3pt solid #FF0000;
}
TD TD
{
	padding: 2pt;
}
TABLE.alphabet TD
{
	border: none;
	margin: auto;
	font-size: 20pt;
}
TABLE.alphabet DIV.alphabet
{
	border: none;
	margin: 0;
}
TABLE.alphabet TD TD
{
	padding: 0 !important;
}
/*Layout-size specific rules
A4Portrait*/
BODY .A4Portrait .bloom-editable
{
	font-size: 190%;
	/*[disabled]background:#FFFFFF;*/
}
.A4Portrait .icon
{
	width: 60pt;
	height: 60pt;
}
.A4Portrait .lessonNumber
{
	/*[disabled]background:#FFFFFF;*/
}
.A4Portrait .smallImageInTable
{
	max-width: 200px;
	border: 2pt solid #008000;
}
.A4Portrait .letters6x3 .bloom-imageContainer.alphabet
{
	height: 157px;
}
.A4Portrait .letters7x3 .bloom-imageContainer.alphabet
{
	height: 134px;
}
.A4Portrait .letters8x3 .bloom-imageContainer.alphabet
{
	height: 116px;
}
.A4Portrait .letters9x3 .bloom-imageContainer.alphabet
{
	height: 103px;
}
.A4Portrait .bloom-imageContainer.alphabet
{
	width: 139px;
}
/*A5Portrait*/
.A5Portrait .bloom-editable
{
	font-size: 100%;
	padding: 0;
}
.A5Portrait .icon
{
	width: 42pt;
	height: 42pt;
}
.A5Portrait .lessonNumber
{
	/*[disabled]background:#FFC0CB;*/
}
.A5Portrait .letters6x3 .bloom-imageContainer.alphabet
{
	height: 97px;
}
.A5Portrait .letters7x3 .bloom-imageContainer.alphabet
{
	height: 82px;
}
.A5Portrait .letters8x3 .bloom-imageContainer.alphabet
{
	height: 71px;
}
.A5Portrait .letters9x3 .bloom-imageContainer.alphabet
{
	height: 62px;
}
.A5Portrait .bloom-imageContainer.alphabet
{
	width: 74px;
}
.A5Portrait .smallImageInTable
{
	max-width: 100px;
	border: 2pt solid #008000;
}
