include ../../bloom-foundation-mixins

!!!

mixin adjustableImageRight
    +image.imageAdjustable.floatRight.bloom-resizable
        block

mixin field-bubble(bubbleText)
    +field(data-hint=bubbleText, attributes)
        block

mixin image-bubble(bubbleText)
    +image(data-hint=bubbleText, attributes)
        block

//- string constants for bubbles
- var spaceIndent = 'Indent using space bar.'
- var asterisk = '*'
- var titleCaps = 'capitalise first word and names only, no full stop'
- var sTitle = asterisk + 'Title, ' + titleCaps
- var sSubtitle = asterisk + 'Sub-title, ' + titleCaps
- var addPara = 'create additional paragraphs with /Enter/ key. ' + spaceIndent
- var besideImage = 'text beside image - '
- var followingImage = 'text following image - '
- var imageImport = 'You can also use this page to import an image of a page with a complex layout developed in another program.'
-     imageImport += ' File formats that work well: png (preferred), jpeg, or tiff.'

html
    head
        +metadata-standard
        meta(name='SuitableForMakingShells', content='true')
        meta(name='SuitableForMakingVernacularBooks', content='yes')
        meta(name='BloomBookId', content='156B6F11-4A6C-4942-B2BC-8861E62B03B3')
        meta(name='defaultNameForDerivedBooks', content='Story Primer')
        meta(name='lockedDownAsShell', content='false')
        meta(name='pageTemplateSource', content='Story Primer')
        +stylesheets('Story Primer')
        +stylesheet('Factory-XMatter')
        +stylesheet('../settingsCollectionStyles')
    body
        +dataDiv
            +bookVariable-title('en', 'Story Primer')
            div(data-book='topic', lang='en') Primer
            div(data-book='originalAcknowledgements', lang='en') Template creation: Jim Albright (SIL International) based on work by Glenys Waters and Karen Hopping
        +page-choice('Full page image or scan')#1a98decc-55b9-5013-a0de-6512441b3783
            +image-bubble(imageImport).bloom-resizable
        +page-choice('Story start with title and sub-title')#2233decc-25b9-4013-a0de-6512441b3783
            +field-bubble(sTitle).mainTitle
            +field-bubble(sSubtitle).title
            +adjustableImageRight
            +field-bubble(asterisk + addPara).story
        +page-choice('Story continues - image middle or bottom')#3298decc-55b9-4013-a0de-6512441b3783
            +field-bubble(asterisk + addPara).story
            +adjustableImageRight
            +field-bubble(asterisk + addPara).story
        +page-choice('Lesson, story and activity')#4298333c-45b9-4013-a0de-6512441b3783
            table.primerTableTitleLine
                tr
                    td.boxIcon
                        +field-bubble('*Your word for lesson, followed by a number (or Lesson word and Lesson number)').lessonNumber
                        +image.icon
                    td.boxLessonTitle
                        +field-bubble('*Word work title').lessonTitle
            +adjustableImageRight
            +field-bubble(asterisk + addPara).story
            .divider
            +image-bubble('You may change the activity icon here.').icon.floatLeft
