/*Story Primer.CSS
 */
.activity
{
	padding: 0 6pt !important;
}
.alphabet
{
}
.answer
{
	margin-left: 2pt;
}
.author
{
	margin-left: 2pt;
	margin-top: 24pt;
}
.blank
{
	width: 2pc;
}
.bloom-editable
{
	overflow: visible !important;
	margin-left: 2pt;
	margin-right: 2pt;
}
.bloom-content1
{
	margin-left: 2pt;
	margin-right: 2pt;
}
.bloom-translationGroup.title .bloom-content1
{
	font-size: 140%;
	margin-left: 0pt;
	padding: 0 0 6px;
}
.A5Portrait .bloom-editable
{
	font-size: 100%;
}
.primerTableWithBorder.wordWorkWords .bloom-editable
{
	font-size: 80%;
}
.A4Portrait .bloom-editable
{
	font-size: 200%;
	background: #FFFFFF;
}
.bloom-imageContainer
{
	z-index: 10;
}
.borders
{
	border: 1pt solid #000000;
	width: 100%;
	table-layout: fixed;
}
.bottom
{
	border-bottom: 1pt solid #000000;
}
.box + .box
{
	margin: 3pt 15mm 0;
	z-index: 7;
}
.box
{
	border: 1pt solid #000000;
	margin: 0pt 15mm 15mm;
	padding: 0pt 1pc;
	z-index: 7;
}
.boxBlankMatchingIconBook
{
	width: 10%;
}
.boxIcon
{
	width: 20%;
}
.boxLessonNumber
{
	width: 20%;
}
.boxLessonTitle
{
	width: 60%;
}
.boxNoBorder
{
	margin: 0pc 1pc 6pt;
	padding: 1pc;
}
.boxSampleLetterRight
{
	width: 20%;
	padding-top: 1pc;
	text-align: center;
}
.center
{
	margin-left: auto;
	margin-right: auto;
}
.discuss
{
	margin-left: 2pt;
	margin-right: 2pt;
	text-indent: 0pc;
}
.divider
{
	border-bottom: 1pt solid #000000 !important;
	margin: 0 -1pc;
}
/*add space but no line with white*/
.editYes
{
}
.floatLeft
{
	/*was width: auto;*/
	width: 50%;
	height: auto;
	float: left;
	border: 3pt solid #FFC0CB;
}
.floatRight
{
	width: 50%;
	/*was width: auto;*/
	height: auto;
	float: right;
}
.flushBottom
{
	display: table;
	vertical-align: bottom;
}
.fullPageImage
{
	width: 100%;
	height: 100%;
}
.halfWidth
{
	width: 160pt;
	height: auto;
}
.halfWidthImage
{
	width: 153pt;
	height: auto;
}
.icon IMG
{
	width: 100%;
	height: auto;
}
.A5Portrait .icon
{
	border: none;
	float: left;
	width: 3.5pc;
	height: 3.5pc;
	z-index: 5;
	margin: 2pt 3pt 0 2pt;
	padding: 0;
}
.A4Portrait .icon
{
	border: 2pt solid #000000;
	float: left;
	width: 5pc;
	height: 5pc;
	z-index: 5;
	margin: 2pt 3pt 0 2pt;
	padding: 0;
}
/*.icons img{width: 100%; height: auto ; }
.icons {float: left; width: 3.5pc; height: 3.5pc; z-index: 5; margin: 0 2pc 0 2pt ; padding: 0 ; }*/
.imageAdjustable
{
	vertical-align: top;
	width: 50%;
}
.imageOnBottom
{
	width: 100%;
	height: 40%;
	/*+placement:anchor-bottom-left;*/
	position: absolute;
	left: 0;
	bottom: 0;
}
.A5Portrait .instructions
{
	line-height: 1.2em !important;
	margin: 2pt 2pt 0 !important;
	font-size: smaller !important;
	font-style: italic !important;
	font-weight: normal !important;
}
.A4Portrait .instructions
{
	line-height: 1.2em !important;
	margin: 2pt 2pt 0 !important;
	font-size: 90% !important;
	font-style: italic !important;
	font-weight: normal !important;
}
.keyWord
{
	clear: both;
	text-align: center;
	margin-left: 2pt;
}
/*clear both forces p to start below the graphics*/
.largeImage
{
	width: 100%;
	height: auto;
	z-index: -500;
}
.left
{
	border-left: 1pt solid #000000;
}
.A5Portrait .lessonNumber
{
	font-size: 80% !important;
	background: #FFC0CB;
}
.A4Portrait .lessonNumber
{
	font-size: 80% !important;
	background: #FFFFFF !important;
}
.lessonTitle
{
	margin-left: 2pt;
	margin-top: 0pc;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
}
.mainTitle
{
	font-weight: bold;
	text-align: center;
	font-size: 150%;
}
.cover .marginBox
{
	overflow-x: hidden;
	overflow-y: hidden;
	height: 180mm;
	width: 109mm;
	border: none;
	z-index: 100000;
}
.marginBox
{
	overflow-x: hidden;
	overflow-y: hidden;
	height: 180mm;
	width: 109mm;
	border: 1pt solid #0000FF;
	z-index: 100000;
}
.pageNumber
{
	width: 10%;
	vertical-align: top;
}
.paraByImage
{
	width: 200pt;
}
.paragraphNextToImageBottom
{
	vertical-align: top;
}
.paragraphNextToImageTop
{
	vertical-align: bottom;
}
.primer
{
	margin-top: 6pt;
	width: 100%;
}
.primerTable + .primerTable
{
	margin-top: 6pt;
}
/*following table has space above*/
.primerTable TD
{
	border: 1pt solid #000000;
	text-align: center;
	padding: 6pt 9pt;
}
.primerTable
{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.primerTableBeginner TD
{
	border: 1pt solid #000000;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 12pt;
}
.primerTableBeginner
{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.primerTableFixed
{
	table-layout: fixed;
	width: 100%;
}
.primerTableMatrix TD
{
	border: 1pt solid #000000;
	text-align: center;
	padding: 6pt 3pt;
}
.primerTableMatrix
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 0pc;
}
.primerTableMatrixLarge IMG
{
	height: 54pt;
	float: right;
}
.primerTableMatrixLarge TD
{
	border: 1pt solid #000000;
	text-align: center;
}
.primerTableMatrixLarge
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 1pc;
}
.primerTableMatrixMedium IMG
{
	float: left;
}
.A5Portrait .letters4x3 .bloom-imageContainer.alphabet
{
	height: 149px;
}
.A5Portrait .letters5x3 .bloom-imageContainer.alphabet
{
	height: 118px;
}
.A5Portrait .letters6x3 .bloom-imageContainer.alphabet
{
	height: 97px;
}
.A5Portrait .letters7x3 .bloom-imageContainer.alphabet
{
	height: 82px;
}
.A5Portrait .letters8x3 .bloom-imageContainer.alphabet
{
	height: 71px;
}
.A5Portrait .letters9x3 .bloom-imageContainer.alphabet
{
	height: 62px;
}
.A5Portrait .bloom-imageContainer.alphabet
{
	width: 74px;
}
.primerTableMatrixMedium TD
{
	border: 1pt solid #000000;
	text-align: center;
}
.primerTableMatrixMedium
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 1pc;
}
.primerTableNoBorder
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/*[disabled]margin:6pt;*/
	font-size: smaller;
}
.primerTableWithBorder
{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	margin: 4pt;
	border: 1pt solid #000000;
}
.primerTableSplitJoin TD
{
	text-align: center;
	padding: 0pt 12pt;
}
.primerTableSplitJoin
{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
.primerTableTitleLine
{
	table-layout: fixed;
	width: 100%;
}
.primerTableWordFind TD .bloom-editable
{
	border: 1pt solid #000000;
	text-align: center;
	font-size: 110%;
	padding: 4px 4px 4px 0px;
}
.primerTableWordFind
{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 1pc;
}
.wordFindWords TD .bloom-editable
{
	font-size: 100%;
}
.primerTableWords TD
{
	text-align: center;
	padding: 0pt 12pt;
}
.primerTableWords
{
	margin-left: auto;
	margin-right: auto;
}
.primerTableVowels
{
	margin-left: auto;
	margin-right: auto;
}
.question
{
	text-indent: -2pc;
}
.questionCaption
{
	margin-left: 2pt;
	font-size: 60%;
}
.right
{
	border-right: 1pt solid #000000;
}
.rightImage
{
	max-width: 100pt;
	height: auto;
	padding-left: 6pt;
}
.sampleLetter
{
	margin-left: 2pt;
}
.sampleLetterLeft
{
	z-index: 5;
	font-weight: bold;
	padding: 6pt 11pt;
	border: 1pt solid #000000;
}
/*.sampleLetterRight {z-index: 5; font-weight: bold; margin: 6pt 11pt ; border: black 1pt solid; }*/
.sampleLetterRight
{
	z-index: 5;
	font-weight: bold;
	border: 1pt solid #000000;
	margin: auto;
	padding-left: 6pt;
	padding-right: 6pt;
}
.sampleSentence
{
	font-size: 200% !important;
	clear: both;
	margin-left: 2pt;
	text-indent: 0;
	margin-top: 1pc;
	text-align: left;
}
.scripture
{
	font-weight: bold !important;
	background-color: #FFFFFF;
}
.sectionHead
{
	font-weight: bold;
	text-align: left;
}
.sentence
{
	margin-left: 2pt;
	margin-top: 1pc;
	text-align: left;
	text-indent: 2pc;
}
.smallImage
{
	width: 20%;
	border: 2pt solid #FF0000;
}
.A5Portrait .smallImageInTable
{
	width: 4pc;
	height: auto;
	border: 2pt solid #FFA500;
}
.A4Portrait .smallImageInTable
{
	width: 5.7pc;
	height: auto;
	border: 2pt solid #008000;
}
.soundInFocus
{
	margin-left: auto;
	margin-right: auto;
}
.space
{
	height: 1cm;
}
.spacer
{
	margin: 0 0pt;
}
.story
{
	margin-left: 2pt;
	text-indent: 0;
	/*indent using space bar -- new paragraph with Enter*/
}
.title
{
	font-weight: bold;
	text-align: center;
	margin-left: 2pt;
	margin-right: 0;
	font-size: 125%;
}
.top
{
	border-top: 1pt solid #000000;
}
.underlined
{
	margin-left: 2pt;
	text-decoration: underline;
	text-align: left;
	margin-bottom: 0pt;
}
.write
{
	text-align: left;
	margin: 0;
	padding: 0;
}
/*.boxContainer { overflow-x:hidden; overflow-y:hidden; height: 180mm; width: 109mm; border: black 1pt solid ; margin: 15mm 15mm 0cm 15mm; padding: 1pc 1pc ; z-index: 7; }
div {line-height: 1.5em !important ; }*/
DIV
{
	min-height: 1em;
	min-width: 1em;
}
TABLE + TABLE TD
{
	padding: 2pt;
}
TABLE + TABLE
{
	margin-top: 6pt;
}
TABLE + TABLE.alphabet TD
{
	padding: 0;
	border: 3pt solid #FFA500;
}
TABLE + TABLE.alphabet
{
	margin-top: 0;
	border: 2pt solid #FF0000;
}
TABLE.primerTableTitleLine + TABLE TD
{
	padding: 0;
}
/*prevent extra padding*/
TD.alphabet
{
	margin-left: auto;
	margin-right: auto;
	border: 3pt solid #FF0000;
}
TD TD
{
	padding: 2pt;
}
TABLE.alphabet TD
{
	border: none;
	margin: auto;
	font-size: 20pt;
}
TABLE.alphabet DIV.alphabet
{
	border: none;
	margin: 0pt;
}
TABLE.letters5x4 IMG
{
	padding-bottom: 25.5pt !important;
	width: 4.1pc !important;
	height: auto;
}
TABLE.letters6x4 IMG
{
	padding-bottom: 17.5pt !important;
	width: 4pc !important;
	height: auto;
}
TABLE.letters7x4 IMG
{
	padding-bottom: 10.5pt !important;
	width: 4pc !important;
	height: auto;
}
TABLE.alphabet TD TD
{
	padding: 0pt !important;
}
.coverBottomBookTopic .bloom-editable, .coverBottomLangName .bloom-editable
{
	font-size: 100%;
}
DIV.A4Portrait DIV.margin-box:nth-of-type(2n+1):after
{
	bottom: 15pt !important;
	content: counter(pageNumber, decimal);
	text-align: center !important;
	font-size: 100% !important;
	background: #FFC0CB !important;
}
DIV.A4Portrait DIV.margin-box:nth-of-type(2n):after
{
	bottom: 15pt !important;
	content: counter(pageNumber, decimal);
	font-size: 100%;
	text-align: center;
	background: #00FF00 !important;
}
#originalAcknowledgments
{
	height: 300px !important;
	width: 100%;
	background: #FFA500 !important;
}
