include ../../bloom-foundation-mixins
include mixins/story-primer-mixins

doctype html

//- string constants for bubbles
- var titleCaps = 'capitalise first word and names only, no full stop'
- var sTitle = 'Title, ' + titleCaps
- var sSubtitle = 'Sub-title, ' + titleCaps
- var imageImport = 'You can also use this page to import an image of a page with a complex layout developed in another program.'
- var wordWork = 'Word work title'
- var actIcon = 'Activity icon'
- var sounds = 'Sounds in our alphabet'
- var focusSound = 'Sound in focus'
- var wordForLesson = 'Your word for lesson, followed by a number (or Lesson word and Lesson number)'
- var wordForReview = "Your word for 'revise'/'review'"

html
    head
        +metadata-standard
        meta(name='SuitableForMakingShells', content='true')
        meta(name='SuitableForMakingVernacularBooks', content='yes')
        meta(name='BloomBookId', content='156B6F11-4A6C-4942-B2BC-8861E62B03B3')
        meta(name='defaultNameForDerivedBooks', content='Story Primer')
        meta(name='lockedDownAsShell', content='false')
        meta(name='pageTemplateSource', content='Story Primer')
        title Story Primer
        +stylesheets('Story Primer.css')
        +stylesheet('Factory-XMatter.css')
        +stylesheet('../settingsCollectionStyles.css')
    body
        +dataDiv
            +bookVariable-title('en', 'Story Primer')
            div(data-book='topic', lang='en') Primer

        // Template page #1
        +page-choice('Full page image or scan')#1a98decc-55b9-5013-a0de-6512441b3783
            +image-bubble(imageImport).bloom-resizable

        // Template page #2
        +page-choice('Story start with title and sub-title')#2233decc-25b9-4013-a0de-6512441b3783
            +field-bubble-attributesOnChild(sTitle).mainTitle
            +field-bubble-attributesOnChild(sSubtitle).title
            +adjustableImageRight
            +field-attributesOnChild.story

        // Template page #3
        +page-choice('Story continues - image middle or bottom')#3298decc-55b9-4013-a0de-6512441b3783
            +field-attributesOnChild.story
            +adjustableImageRight
            +field-attributesOnChild.story

        // Template page #4
        +page-choice('Lesson, story and activity')#4298333c-45b9-4013-a0de-6512441b3783
            table.primerTableTitleLine
                tr
                    td.boxLessonNumber
                        +field-placeholder-attributesOnChild("Lesson 99").lessonNumber
                        +fixedIcon('book icon', 'read.png')
                    td.boxLessonTitle
                        +field-bubble-attributesOnChild(wordWork).lessonTitle
                    td.boxBlankMatchingIconBook
            +adjustableImageRight
            +field-attributesOnChild.story
            .divider
            +fixedIcon(actIcon, 'discussion.png')
            +field-attributesOnChild.activity

        // Template page #5
        +page-choice('Word work and writing')#6698decc-55b9-5013-a0de-6512441b3783
            table.primerTableTitleLine
                tr
                    td.boxIcon
                        +fixedIcon(actIcon, 'word.png')
                    td.boxLessonTitle
                        +field-bubble-attributesOnChild(wordWork).lessonTitle
                    td
                        table.sampleLetterRight
                            tr
                                td
                                    +field-bubble-attributesOnChild(focusSound).soundInFocus
            +field-bubble-attributesOnChild('Key sentence').sampleSentence
            table
                tr
                    td.primerTableKeyWordWork
                        table.primerTableWithBorder
                            tr
                                td
                                    +image.bloom-resizable.smallImageInTable
                                td
                                    table
                                        tr
                                            td
                                                +field-bubble-attributesOnChild('Key word')
                                        tr
                                            td
                                                +field-bubble-attributesOnChild(focusSound)
                    td.blank
                    td
                        table.primerTableWithBorder
                            +repeat(2)
                                tr
                                    td.right
                                        +field
                                    td
                                        +field
            table.primerTableNoBorder
                tr
                    +repeat(5)
                        td
                            table.primerTableWithBorder.wordWorkWords
                                tr
                                    td
                                        +field
                                tr
                                    td
                                        +field
                                tr
                                    td
                                        +field
            +field-bubble-attributesOnChild('Instructions').instructions
            .divider
            +fixedIcon(actIcon, 'writing.png')
            +field-bubble-attributesOnChild('Writing activity instructions').instructions
            +field-bubble-attributesOnChild('Underlined text to write').activity.underlined
            .divider
            +fixedIcon(actIcon, 'know.png')
            +field-bubble-attributesOnChild('Title').title
            +field-attributesOnChild.activity

        // Template page #6
        +page-choice('Story continuation and activity')#2222decc-55b9-4013-a0de-6512441b3783
            +field-bubble-attributesOnChild('Text continues here').story
            .divider
            +fixedIcon(actIcon, 'discussion.png')
            +field-attributesOnChild.activity

        // Template page #7
        +page-choice('Wordfind')#9298decc-95b9-4013-a0de-6512441b3783
            +field-bubble-attributesOnChild('Instructions').instructions
            table.primerTableWordFind
                +repeat(10)
                    tr
                        +repeat(10)
                            td
                                +field-placeholder-attributesOnChild('Q')
            table.primerTableNoBorder.wordFindWords
                +repeat(4)
                    tr
                        +repeat(4)
                            td
                                +field-placeholder-attributesOnChild('Word')

        // Template page #8
        +page-choice('Alphabet chart (4x3)')#1298decc-55b9-5013-a0de-1212441b34a3
            +field-bubble-attributesOnChild(sounds).title
            table.primerTableMatrixMedium.letters4x3
                +alphabetChart(4)

        // Template page #9
        +page-choice('Alphabet chart (5x3)')#1298decc-55b9-5013-a0de-1512441b35a3
            +field-bubble-attributesOnChild(sounds).title
            table.primerTableMatrixMedium.letters5x3
                +alphabetChart(5)

        // Template page #10
        +page-choice('Alphabet chart (6x3)')#1298decc-55b9-5013-a0de-1812441b36a3
            +field-bubble-attributesOnChild(sounds).title
            table.primerTableMatrixMedium.letters6x3
                +alphabetChart(6)

        // Template page #11
        +page-choice('Alphabet chart (7x3)')#1298decc-55b9-5013-a0de-2112441b37a3
            +field-bubble-attributesOnChild(sounds).title
            table.primerTableMatrixMedium.letters7x3
                +alphabetChart(7)

        // Template page #12
        +page-choice('Alphabet chart (8x3)')#1298decc-55b9-5013-a0de-2412441ba8a3
            +field-bubble-attributesOnChild(sounds).title
            table.primerTableMatrixMedium.letters8x3
                +alphabetChart(8)

        // Template page #13
        +page-choice('Alphabet chart (9x3)')#1298decc-55b9-5013-a0de-2712441b39a3
            +field-bubble-attributesOnChild(sounds).title
            table.primerTableMatrixMedium.letters9x3
                +alphabetChart(9)

        // Template page #14
        +page-choice('Two activities')#1598decc-95b9-5015-a0de-6512441b3783
            +fixedIcon(actIcon, 'discussion.png')
            +field
            .divider
            +fixedIcon(actIcon, 'know.png')
            +field

        // Template page #15
        +page-choice('Three activities')#1598decc-55b9-5015-33de-6512441b3383
            +fixedIcon(actIcon, 'discussion.png')
            +field
            .divider
            +fixedIcon(actIcon, 'know.png')
            +field
            .divider
            +fixedIcon(actIcon, 'perform.png')
            +field

        // Template page #16
        +page-choice('Revision/review sounds and word building box')#16a8decc-55b9-5013-a0de-6512441b3783.bloom-hideLanguageNameDisplay
            table.primerTableTitleLine
                tr
                    td.boxIcon
                        +fixedIcon(actIcon, 'word.png').bloom-imageContainer
                    td.boxLessonTitle
                        +field-bubble-attributesOnChild(wordWork).lessonTitle
                    td.boxSampleLetterRight
                        .sampleLetterRight
                            table
                                tr
                                    td
                                        +field
                                            label.bubble.bloom-showOnlyWhenTargetHasFocus=wordForReview
                                tr
                                    td
                                        +field
                                            label.bubble.bloom-showOnlyWhenTargetHasFocus=focusSound
            +form-6cells
            +field.instructions
                label.bubble.bloom-showOnlyWhenTargetHasFocus Instructions
            +syllableTable
            .divider
            div
                +fixedIcon(actIcon, 'writing.png')
                +field-bubble-attributesOnChild('Writing activity instructions').instructions
                +field-bubble-attributesOnChild('Underlined text to write').underlined
            table.primerTableFixed
                tr
                    td
                        +field-bubble-attributesOnChild('Word building box instructions').instructions
                    td
                        table.primerTableMatrix
                            +repeat(3)
                                tr
                                    +repeat(3)
                                        td
                                            +field

        // Template page #17
        +page-choice('Revision/review sounds')#17a8decc-55b9-5013-a0de-6512441b3783.bloom-hideLanguageNameDisplay
            table.primerTableTitleLine
                tr
                    td.boxIcon
                        +fixedIcon(actIcon, 'word.png').bloom-imageContainer
                    td.boxLessonTitle
                        +field-bubble-attributesOnChild(wordWork).lessonTitle
                    td.boxSampleLetterRight
                        .sampleLetterRight
                            table
                                tr
                                    td
                                        +field
                                            label.bubble.bloom-showOnlyWhenTargetHasFocus=wordForReview
                                tr
                                    td
                                        +field
                                            label.bubble.bloom-showOnlyWhenTargetHasFocus=focusSound
            +form-6cells
            +field.instructions
                label.bubble.bloom-showOnlyWhenTargetHasFocus Syllable activity instructions
            .divider
            +syllableTable
            div
                +fixedIcon(actIcon, 'writing.png')
                +field-bubble-attributesOnChild('Activity instructions').instructions
                +field-bubble-attributesOnChild('Underlined text for writing activity').underlined
                +fixedIcon(actIcon, 'know.png')
                +field-bubble-attributesOnChild('Activity title').sectionHead
                +field-attributesOnChild.activity

        // Template page #18
        +page-choice('Glossary (3 language - 22 words per page)')#18a8decc-55b9-5013-a0de-6512441b3783
            +glossary(3,22)

        // Template page #19
        +page-choice('Glossary (2 language - 22 words per page)')#19a8decc-55b9-5013-a0de-6512441b3783
            +glossary(2, 22)

        // Template page #20
        +page-choice('Translation of text by page number with Title')#10a8decc-55b9-4013-a0de-6512441b3783(data-pagelineage='7e215937-a062-41af-a91d-6f8f7938be03')
            +field.mainTitle
                label.bubble.bloom-showOnlyWhenTargetHasFocus Title of the text
            table
                +repeat(7)
                    tr.translation
                        td.pageNumber
                            +field
                                label.placeholder 99
                        td.translation
                            +field
                                label.bubble.bloom-showOnlyWhenTargetHasFocus Translation
                tr.translation
                    td.pageNumber
                        +field
                            label.placeholder 99
                    td.translation
                        +field
                            label.bubble.bloom-showOnlyWhenTargetHasFocus Use as many rows as you need. What you don't want, just leave blank. If you need more rows, add another page.

        // Template page #21
        +page-choice('Translation of text by page number')#11a8decc-55b9-4013-a0de-6512441b3783(data-pagelineage='7e215937-a062-41af-a91d-6f8f7938be03')
            table
                +repeat(8)
                    tr.translation
                        td.pageNumber
                            +field
                                label.placeholder 99
                        td.translation
                            +field
                                label.bubble.bloom-showOnlyWhenTargetHasFocus Translation

        // Template page #22
        +page-choice('Freeform Text')#77cd48df-e9ab-4a07-afd4-6a24d0398382
            +field

        // Template page #23
        +page-choice('Image and freeform Text')#6dcd422f-e9ab-4a07-afd4-6a24d0398382
            +image.bloom-resizable
            +field